node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

#custom
.venv
assets/loopay-app-id-firebase-adminsdk-5yqh1-121c881705.json
assets/loopaydev-firebase-adminsdk-e0kro-70a0b13606.json
google-services.json
android/